<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
</head>
<body>


  <p id="notice"><%= notice %></p>

  <h1>Listing Reservations</h1>

  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Partysize</th>
        <th>Location</th>
        <th>Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.time %></td>
        <td><%= reservation.partysize %></td>
        <td><%= reservation.restaurant.nil? ? "none" : reservation.restaurant.name %></td>
        <td><%= reservation.note.nil? ? "none" : reservation.note %>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reservation', new_reservation_path %>

</body>
</html>
