<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>

<p>
  <strong>Partysize:</strong>
  <%= @reservation.partysize %>
</p>

<p>
  <strong>Location:</strong>
  <%= @reservation.restaurant.nil? ? "none" : @reservation.restaurant.name %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
