<div id="reservation_details">
  <p id="notice"><%= notice %></p>

<div id="showresinfo">
    <p>
      <strong>Date &amp Time:</strong>
      <%= @reservation.time.strftime("%m/%d/%Y at %I:%M%p") %>
    </p>

    <p>
      <strong>Party Size:</strong>
      <%= @reservation.partysize %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @reservation.restaurant.nil? ? "none" : @reservation.restaurant.name %>
    </p>

    <p>
      <strong>Special Notes:</strong>
      <%= @reservation.note.nil? ? "none" : @reservation.note %>
    </p>
  </div>  
  <div id="show-res-links">
  <p><%= link_to 'Edit', edit_reservation_path(@reservation) %></p>
  <p><%= link_to 'Back', reservations_path %></p>
  </div>
</div>
